/* Video */
#flashes {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 125%;
  max-height: 125%;
  z-index: -1;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.head {
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  margin-top: auto;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#img {
  max-width: 25%;
  max-height: 55%;
  position: fixed;
  right: 450px;
  bottom: 145px;
  border-radius: 5px;
  object-fit: contain;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
